<div class="container-fluid login-container">
  <img class="logo-image" src="assets/legaleagles.png" />
  <div class="card login-card" style="width: 400px">
    <div class="card-body">
      <p>Log in to your account</p>
      <form>
        <div class="form-group">
          <i class="fa-solid fa-user"></i>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <i class="fa-solid fa-lock"></i>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
          />
        </div>
        <button type="submit" class="btn btn-success btn-login">Log in</button>
      </form>
    </div>
  </div>
</div>
