<div class="container-fluid login-container">
  <img class="logo-image" src="assets/legaleagles.png" />
  <div class="card login-card" style="width: 400px">
    <div class="card-body">
      <p>Log in to your account</p>
        <div class="form-group">
          <i class="fa-solid fa-user"></i>
          <input class="form-control"
                 aria-describedby="emailHelp"
                 placeholder="Username"
                 [(ngModel)]="userName" />
        </div>
        <div class="form-group">
          <i class="fa-solid fa-lock"></i>
          <input type="password"
                 class="form-control"
                 placeholder="Password"
                 [(ngModel)]="password" />
        </div>
        <button (click)="ValidateLogin()" class="btn btn-success btn-login">Log in</button>
    </div>
  </div>
</div>
