.login-container{
    background-color: #198fef;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo-image{
    width: 180px;
    margin-bottom: 40px;
}
.card-body{
    padding: 32px;
}
.btn-login{
    width: 100%;
}
p{
    margin-bottom: 32px;
}

.form-group{
    margin-bottom: 16px;
    position: relative;
}
.form-group i{
    position: absolute;
    left: 10px;
    top: 10px;
}
.form-group input{
    padding-left: 30px;
}