<app-nav-menu></app-nav-menu>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">New Client</h4>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="">ID</label>
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="">First Name</label>
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="">Last Name</label>
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="">Address</label>
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="">Email</label>
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="">Mobile Number</label>
            <input
              type="text"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="">Birth Date</label>
            <input
              type="date"
              class="form-control"
              name=""
              id=""
              aria-describedby="helpId"
              placeholder=""
            />
          </div>
        </div>
      </div>
      <div class="row action-button-group">
        <div class="col-sm">
          <button type="button" class="btn btn-success">Delete</button>
          <button type="button" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
