
.container-fluid{
  background-color: #198fef;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  padding: 14px 32px;
  
}
.btn-link{
  color: #fff;
}
.logo-image{
  width: 115px;
}
span{
  font-weight: bold;
  padding: 12px;
}